*{
    margin:0;
    font-family:'Josefin Sans', sans-serif;
}
.goku{
    height:100vh;
    width:100%;
    background-image:url(goku.jpg);
    background-size: cover;
    margin:0px;

}

nav{
    display:flex;
    justify-content: space-around;
    align-items: center;
    color:white;
    padding: 10px;

}

ul li{
    display: inline-block;
    padding:40px;
    font-size:18px ;
}

ul li:hover{
    color:#38f3f5;
}

.btn{
    background-color: #38f3f5;
    height:40px;
    width:120px;
    border-radius: 20px;
    border: 0px;
    font-size:large ;
    cursor: pointer;
}
.btn:hover{
    scale:1.2;
    transition:0.3s;
}
